.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vmin;
  height: 30vmin;
  margin: 5vmin 0 0 5vmin;
  border-radius: 50%;
  background: green;
}
.spinner::after {
  content: ">";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
  font-weight: bold;
  font-size: 3em;
}